html, body{ 
    margin:0;
    padding:0;
    width:100%;
  }

.section-one {
    background-color: green;
    width: 100%;
}

.section-one nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 30px 30px;
}

.section-one nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    color: white;
}